@import url(https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css);
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #f5f6f8;
  background: linear-gradient(
    90deg,
    rgba(147, 38, 5, 1) 0%,
    rgba(90, 37, 19, 1) 30%,
    rgba(90, 37, 19, 1) 70%,
    rgba(147, 38, 5, 1) 100%
  );
  margin-top: 66px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin: 0;
  text-align: center;
}

.container {
  max-width: 375px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  background-color: #21242c;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1100px;
    padding: 0 35px;
    margin: 0 auto;
  }
}
